@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");

body {
  background-color: rgb(44, 44, 44);
  font-family: "Inter", sans-serif;
  color: white;
  padding: 0%;
  margin: 0%;
}
nav {
  background-color: rgba(255, 88, 58, 0.803);
  height: 2.6em;
  display: inline-flex;
  width: 100%;
}
.logo {
  margin-top: 0.4%;
  margin-left: 3%;
}
.logo span {
  color: yellow;
}
.logo a {
  color: white;
  text-decoration: none;
  font-size: 150%;
}
ul {
  list-style-type: none;
  width: 100%;
}
li {
  display: inline-flex;
  margin-right: 5%;
}
.right {
  margin-left: 70vw;
}
