@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */

.navbar {
  overflow: hidden;
  display: inline-block;
  background-color: rgba(255, 101, 101, 0.692);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;
  transition: 0.6s ease;
  margin: 0 10px 0 10px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
  border-radius: 30%;
  transition: 0.6s ease;
}

/* Home sector */

#home {
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 300%;
}

#home::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(https://images.unsplash.com/photo-1608056069613-5629ee466519?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=740&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 740px;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}
.heading {
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  font-size: 200%;
  text-align: center;
  margin-top: 0px;
  color: coral;
}

.btn {
  width: 60%;
  height: 60px;
  font-size: 1.5rem;
  background-color: transparent;
  border: 1px;
  border-color: white;
  border-style: solid;
  text-align: center;
  transition: 0.6s ease;
  color: white;
}
.btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  box-shadow: 0 0 5px white, 0 0 5px white, 0 0 5px white;
  font-weight: bold;
}
/* animation */
#container {
  text-align: center;
}

#text {
  display: inline-block;
  vertical-align: middle;
  color: orange;
  letter-spacing: 2px;
}

#cursor {
  display: inline-block;
  vertical-align: middle;
  width: 3px;
  height: 50px;
  background-color: orange;
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  from,
  to {
    background-color: transparent;
  }
  50% {
    background-color: orange;
  }
}
/*  */
/* About me sector */
.aboutme {
  background-color: rgb(44, 44, 44);
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: "Ubuntu", sans-serif;
}
.me-head {
  font-size: 300%;
  background-color: rgb(44, 44, 44);
}
.me p {
  text-align: center;
  font-size: 150%;
}
.lifeline{
  color: #00fffb;
}

/* Skills */
.skills {
  padding-top: 50px;
  margin-top: 0;
  background-color: rgb(44, 44, 44);
  font-family: "Ubuntu", sans-serif;
  color: #ddd;
  font-size: 200%;
}

.skill-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 80px;
  font-size: 1.2rem;
  background-color: rgb(44, 44, 44);
}

.skill-box {
  padding: 1rem;
  color: #ddd;
  cursor: pointer;
}
.skill-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  transition: all 0.5s ease;
}

.skill-title h3 {
  color: white;
  margin: 0.5rem;
}
.img {
  text-decoration: none;
}

.skill-title:hover {
  background-color: rgba(255, 113, 113, 0.692);
  color: rgb(255, 0, 0);
  box-shadow: 0 0 10px rgb(255, 169, 169);
  border-radius: 20%;
}

.skills3 {
  font-size: 200%;
}
.skill-icon {
  width: 20rem;
  height: 20rem;
}

/* Responsive */
@media screen and (max-width: 1300px) {
  .skill-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
    background-color: rgb(44, 44, 44);
  }
  #text {
    display: inline-block;
    vertical-align: middle;
    color: orange;
    letter-spacing: 1px;
    font-size: 70%;
    text-align: center;
  }

  #cursor {
    display: inline-block;
    vertical-align: middle;
    width: 3px;
    height: 50px;
    background-color: orange;
    animation: blink 0.75s step-end infinite;
  }

  @keyframes blink {
    from,
    to {
      background-color: transparent;
    }
    50% {
      background-color: orange;
    }
  }
}

@media screen and (max-width: 851px) {
  .skill-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
    background-color: rgb(44, 44, 44);
  }
  .skill-icon {
    width: 10rem;
    height: 10rem;
  }

  /* about me */
  .me p {
    text-align: center;
    font-size: 100%;
  }

  /* home */
  .heading {
    font-size: 160%;
  }
  .heading2 {
    font-size: 80%;
  }

  #text {
    display: inline-block;
    vertical-align: middle;
    color: orange;
    letter-spacing: 1px;
    font-size: 50%;
    text-align: center;
  }
}

@media screen and (max-width: 530px) {
  .heading {
    font-size: 100%;
  }
  .navbar a {
    font-size: 80%;
  }
}

@media screen and (max-width: 400px) {
  .navbar a {
    font-size: 70%;
  }
}
/* Contact me */

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 0;
  background-color: rgb(44, 44, 44);
  color: white;
  padding: 20px;
  font-size: 1.5rem;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#home{
  height: 400px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 10000px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
  .heading2 {
    width: 100%;
    font-family: "Ubuntu", sans-serif;
    font-size: 200%;
    text-align: center;
    margin-top: 10px;
    color: coral;
  }
}
